<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jgc.mapper.FllcjlMapper">

    <resultMap type="FllcjlDto" id="FllcjlResult">
        <result property="flid"    column="flid"    />
        <result property="id"    column="id"    />
        <result property="lcjdmc"    column="lcjdmc"    />
        <result property="lcjdxh"    column="lcjdxh"    />
        <result property="czr"    column="czr"    />
        <result property="czsj"    column="czsj"    />
        <result property="czrmc"    column="czrmc"    />
    </resultMap>

    <sql id="selectFllcjlVo">
        select flid, jl.id, lcjdmc, lcjdxh, czr, czsj, u.user_name czrmc
        from fllcjl jl left join sys_user u on jl.czr = u.user_id
    </sql>

    <select id="selectFllcjlList" parameterType="Fllcjl" resultMap="FllcjlResult">
        <include refid="selectFllcjlVo"/>
        <where>
            <if test="flid != null  and flid != ''"> and flid = #{flid}</if>
        </where>
        order by czsj asc
    </select>

    <select id="selectFllcjlByFlid" parameterType="String" resultMap="FllcjlResult">
        <include refid="selectFllcjlVo"/>
        where flid = #{flid}
    </select>

    <select id="selectWorkload" parameterType="Fllcjl" resultMap="FllcjlResult">
        select flid, jl.id, lcjdmc, lcjdxh, czr, czsj, u.user_name czrmc
        from fllcjl jl left join sys_user u on jl.czr = u.user_id
        where u.del_flag = '0'
        <if test="czr != null">
            and czr = #{czr}
        </if>
        <if test="params.beginTime != null and params.beginTime != '' and params.endTime != null and params.endTime != ''">
            and czsj &gt;= #{params.beginTime}
            and czsj &lt;= #{params.endTime}
        </if>
    </select>

    <select id="workloadStat" parameterType="Fllcjl" resultType="WorkloadDto">
        select czr userId, count(1) workloadCount, u.user_name userName
        from fllcjl jl left join sys_user u on jl.czr = u.user_id
        
        <where>
            <if test="czr != null">
                czr = #{czr}
            </if>
            <if test="params.beginTime != null and params.beginTime != '' and params.endTime != null and params.endTime != ''">
                and czsj &gt;= #{params.beginTime}
                and czsj &lt;= #{params.endTime}
            </if>
        </where>
        GROUP BY czr
    </select>

    <insert id="insertFllcjl" parameterType="Fllcjl">
        insert into fllcjl
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="flid != null">flid,</if>
            <if test="id != null">id,</if>
            <if test="lcjdmc != null and lcjdmc != ''">lcjdmc,</if>
            <if test="lcjdxh != null">lcjdxh,</if>
            <if test="czr != null">czr,</if>
            <if test="czsj != null">czsj,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="flid != null">#{flid},</if>
            <if test="id != null">#{id},</if>
            <if test="lcjdmc != null and lcjdmc != ''">#{lcjdmc},</if>
            <if test="lcjdxh != null">#{lcjdxh},</if>
            <if test="czr != null">#{czr},</if>
            <if test="czsj != null">#{czsj},</if>
        </trim>
    </insert>

    <update id="updateFllcjl" parameterType="Fllcjl">
        update fllcjl
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null">id = #{id},</if>
            <if test="lcjdmc != null and lcjdmc != ''">lcjdmc = #{lcjdmc},</if>
            <if test="lcjdxh != null">lcjdxh = #{lcjdxh},</if>
            <if test="czr != null">czr = #{czr},</if>
            <if test="czsj != null">czsj = #{czsj},</if>
        </trim>
        where flid = #{flid}
    </update>

    <delete id="deleteFllcjlByFlid" parameterType="String">
        delete from fllcjl where flid = #{flid}
    </delete>

    <delete id="deleteFllcjlByFlids" parameterType="String">
        delete from fllcjl where flid in
        <foreach item="flid" collection="array" open="(" separator="," close=")">
            #{flid}
        </foreach>
    </delete>
</mapper>